.login-container {
    background: url('../images/photo-1493238792000-8113da705763.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.9); /* Slight transparency */
    border-radius: 12px;
  }
  